{% extends 'base.html.twig' %}

{% block body %}
<div class="container dashboard-section">
    <div class="card text-center">
        <h1><b>Topic n°{{ topic.id }}</b></h1>
        <div class="card-body">
            <h5 class="card-title">{{ topic.titre }}</h5>
            <img src="{{ asset('uploads/images/' ~ topic.image) }}">
            <p class="card-text">{{ topic.description }}</p>
            <p class="card-text">{{ topic.theme }}</p>
            <p class="card-text">{{ topic.state }}</p>
            <a href="{{ path('topic_edit', { 'id': topic.id }) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('gestion_topic') }}" class="btn btn-secondary" >Retour à la liste</a>
            {% if is_granted("ROLE_ADMIN")%}
            <a href="{{ path('topic_delete', { 'id': topic.id }) }}" class="btn btn-danger" >Supprimer</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            Créer le {% if topic.dateCreate %}{{ topic.dateCreate|date('d-m-Y') }}{% endif %}
        </div>
    </div>
</div>
{% endblock %}
