{% extends 'base.html.twig' %}

{% block body %}
<div class="container dashboard-section">
    <div class="card text-center">
        <h1><b>Tutoriel n°{{ tutoriel.id }}</b></h1>
        <div class="card-body">
            <h5 class="card-title">{{ tutoriel.titre }}</h5>
            <img src="{{ asset('uploads/images/' ~ tutoriel.image) }}">
            <p class="card-text">{{ tutoriel.description }}</p>
            <p class="card-text">{% if tutoriel.preRequis %}{{ tutoriel.preRequis }}{% else %}Aucun pré-requis nécessaire{% endif %}</p>
            <p class="card-text">{{ tutoriel.state }}</p>
            <a href="{{ path('tutoriel_edit', { 'id': tutoriel.id }) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('gestion_tutoriel') }}" class="btn btn-secondary" >Retour à la liste</a>
            {% if is_granted("ROLE_ADMIN")%}
            <a href="{{ path('tutoriel_delete', { 'id': tutoriel.id }) }}" class="btn btn-danger" >Supprimer</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            Créer le {% if tutoriel.dateCreate %}{{ tutoriel.dateCreate|date('d-m-Y') }}{% endif %}
        </div>
    </div>
</div>
{% endblock %}
