{% extends 'base.html.twig' %}

{% block body %}
<div class="container dashboard-section">
    <div class="card text-center">
        <h1><b>Topic n°{{ ventespap.id }}</b></h1>
        <div class="card-body">
            <h5 class="card-title">{{ ventespap.titre }}</h5>
            <img src="{{ asset('uploads/images/' ~ ventespap.image) }}">
            <p class="card-text">{{ ventespap.description }}</p>
            <p class="card-text">{{ ventespap.prix }} €</p>
            <p class="card-text">{{ ventespap.ville }}</p>
            <p class="card-text">{{ ventespap.pays }}</p>
            <p class="card-text">{{ ventespap.codePostal }}</p>
            <a href="{{ path('ventes_pap_edit', { 'id': ventespap.id }) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('gestion_ventes_pap') }}" class="btn btn-secondary" >Retour à la liste</a>
            {% if is_granted("ROLE_ADMIN")%}
            <a href="{{ path('ventes_pap_delete', { 'id': ventespap.id }) }}" class="btn btn-danger" >Supprimer</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            Créer le {% if ventespap.dateCreate %}{{ ventespap.dateCreate|date('d-m-Y') }}{% endif %}
        </div>
    </div>
</div>
{% endblock %}
