{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form action="{{ path('user_login') }}" method="post">
            <input type="email" id="LoginEmail" value="{{ email }}" class="fadeIn second" name="_username" placeholder="Email" required>
            <input type="password" id="LoginPassword" class="fadeIn third" name="_password" placeholder="Password" required>
            <input type="submit" name="LoginButton" class="fadeIn fourth" value="Log In">
            {% if error %}
                <div class="alert alert-danger" role="alert" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
{% endblock %}