{% extends "base.html.twig" %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></br>
                    <h1><b>Inscription</b></h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input class="btn btn-primary" type="submit" value="Inscription" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}