{% extends 'base.html.twig' %}

{% block body %}

    <div class="album py-5 ">
        <div class="container container-form">
            <div class="row">
                <div class="col-md-12"></br>
                    <h1><b>Modification d'un Article</b></h1>
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input class="btn btn-success" type="submit" value="Edit" />
                    <a class="btn btn-secondary" href="{{ path('gestion_article') }}">Back to the list</a>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}