{% extends 'base.html.twig' %}

{% block body %}

    <div class="container container-small dashboard-section">
        <div class="row">
            <div class="col-md-9">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="news-title">
                                            <h2>{{ article.titre }}</h2>
                                        </div>
                                        <div class="news-cats">
                                            <ul class="list-unstyled list-inline mb-1">
                                                <li class="list-inline-item">
                                                    <i class="fa fa-folder-o text-danger"></i>
                                                    <a href="#"><small>Author</small> </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <i class="fa fa-folder-o text-danger"></i>
                                                    <a href="#"><small>Créer le {% if article.dateCreate %}{{ article.dateCreate|date('d-m-Y') }}{% endif %}</small></a>
                                                </li>




                                            </ul>
                                        </div>
                                        <hr>
                                        <div class="news-image">
                                            <img class="img-article" src="{% if article.image %}{{ asset('uploads/images/' ~ article.image) }}{% else %}{{ asset('uploads/images/no_image.jpg') }}{% endif %}">
                                        </div>
                                        <div class="news-content">
                                            <p class="card-text">{{ article.description }}</p>
                                        </div>
                                        <hr>
                                        <div class="news-footer">
                                            <div class="news-likes">
                                                <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-up text-success"></i> <span class="badge ">Likes 4</span></button>
                                                <button type="button" class="btn btn-outline-secondary"><i class="fa fa-thumbs-o-down text-danger"></i><span class="badge">Disklikes 4</span></button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="news-tags">
                                            <h5>Tags</h5>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Education <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Entertainment <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Automobile <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Insurance <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Energy <span class="badge badge-light">4</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                Health <span class="badge badge-light">4</span>
                                            </button>
                                        </div>
                                        <hr>
                                        <div class="news-author">
                                            <div class="row">
                                                <div class="col-md-auto">
                                                    <a href="#" title="Biswajit Saha"><img src="//www.gravatar.com/avatar/021e64775176cc4c7018e5e867f17de2?s=250&d=mm&r=x" alt="Author image" class="rounded-circle" style="width:100px"></a>
                                                </div>
                                                <div class="col">
                                                    <div class="auth-title">
                                                        <h4 class="author h4"><a href="/author/biswajit/">Biswajit Saha</a></h4>
                                                        <div class="bio">
                                                            Developer at GBJ solution. I love to travel, make new friends. I prefer tea over coffee.
                                                        </div>
                                                        <ul class="list-unstyled list-inline">
                                                            <li class="list-inline-item"><a href="https://twitter.com/gbjsolution" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                            <li class="list-inline-item"><a href="https://www.facebook.com/gbjsolution" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                            <li class="list-inline-item"><a href="http://gbjsolution.com" target="_blank"><i class="fa fa-globe"></i></a></li>
                                                            <li class="list-inline-item"><i class="fa fa-map-marker"></i> India</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Recent Posts</h4>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="http://whitero.tf.pixel-show.com/wp-content/uploads/2018/04/aerial-view-of-black-woman-drinks-coffee-PUZLRFQ-%D0%9A%D0%BE%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-60x60.jpg">
                                    </div>
                                    <div class="col-md-9">
                                        <h5><a href="http://whitero.tf.pixel-show.com/blog-poll-of-the-day/" rel="bookmark">Blog Poll of the Day</a></h5>
                                        <span class="date">April 28, 2018</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="http://whitero.tf.pixel-show.com/wp-content/uploads/2018/04/aerial-view-of-black-woman-drinks-coffee-PUZLRFQ-%D0%9A%D0%BE%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-60x60.jpg">
                                    </div>
                                    <div class="col-md-9">
                                        <h5><a href="http://whitero.tf.pixel-show.com/blog-poll-of-the-day/" rel="bookmark">Blog Poll of the Day</a></h5>
                                        <span class="date">April 28, 2018</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="http://whitero.tf.pixel-show.com/wp-content/uploads/2018/04/aerial-view-of-black-woman-drinks-coffee-PUZLRFQ-%D0%9A%D0%BE%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-60x60.jpg">
                                    </div>
                                    <div class="col-md-9">
                                        <h5><a href="http://whitero.tf.pixel-show.com/blog-poll-of-the-day/" rel="bookmark">Blog Poll of the Day</a></h5>
                                        <span class="date">April 28, 2018</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="http://whitero.tf.pixel-show.com/wp-content/uploads/2018/04/aerial-view-of-black-woman-drinks-coffee-PUZLRFQ-%D0%9A%D0%BE%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-60x60.jpg">
                                    </div>
                                    <div class="col-md-9">
                                        <h5><a href="http://whitero.tf.pixel-show.com/blog-poll-of-the-day/" rel="bookmark">Blog Poll of the Day</a></h5>
                                        <span class="date">April 28, 2018</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="http://whitero.tf.pixel-show.com/wp-content/uploads/2018/04/aerial-view-of-black-woman-drinks-coffee-PUZLRFQ-%D0%9A%D0%BE%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-60x60.jpg">
                                    </div>
                                    <div class="col-md-9">
                                        <h5><a href="http://whitero.tf.pixel-show.com/blog-poll-of-the-day/" rel="bookmark">Blog Poll of the Day</a></h5>
                                        <span class="date">April 28, 2018</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
