{% extends "base.html.twig" %}

{% block body %}

<div class="album py-5 bg-light">
    <div class="container container-form">
        <div class="row">
            <div class="col-md-12"></br>
                <h1><b>Création d'un utilisateur</b></h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Create" />
                <a class="btn btn-secondary" href="{{ path('user_list') }}">Back to the list</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}