{% extends 'base.html.twig' %}

{% block body %}

    <div class="card text-center">
        <h1><b>Detail de {{ user.pseudo }}</b></h1>
        <div class="card-header">
            <h3>{{ user.civilite }} {{ user.nom }}</h3>
        </div>
        <div class="card-body">
            <img src="{{ asset('uploads/images/' ~ user.image) }}">
            <h5 class="card-title">{{ user.email }}</h5>
            <p class="card-text">{{ user.telephone }}</p>
            <p class="card-text">{% if user.isActive %}Utilisateur Actif{% else %}Utilisateur Non Actif{% endif %}</p>
            <p class="card-text">{{ user.adresse }}</p>
            <p class="card-text">{{ user.ville }}</p>
            <p class="card-text">{{ user.codePostal }}</p>
            <p class="card-text">{{ user.pays }}</p>
            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('user_list') }}" class="btn btn-secondary" >Retour à la liste</a>
            {% if is_granted("ROLE_ADMIN")%}
            <a href="{{ path('user_delete', { 'id': user.id }) }}" class="btn btn-danger" >Supprimer</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            Créer le {% if user.dateCreate %}{{ user.dateCreate|date('d-m-Y') }}{% endif %}
        </div>

    </div>
{% endblock %}
