{% extends 'base.html.twig' %}

{% block body %}
    <html>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <section>
        <div class="container container-small">
            <div class="mb-5 text-center">
                <h2>Choix de la ressources</h2>
            </div>

            <ul class="step d-flex flex-nowrap">
                <li class="step-item active">
                    <a href="#!" class="">Choix</a>
                </li>
                <li class="step-item">
                    <a href="#!" class="">Formulaire</a>
                </li>
                <li class="step-item ">
                    <a href="#!" class="">Validation</a>
                </li>
            </ul>
        </div></br></br></br>
        <form id="ress" class="align-content-center">
        <div class="container container-small">
            <div class="row form-group product-chooser">

                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="product-chooser-item">
                        <img src="https://cdn0.iconfinder.com/data/icons/seo-smart-pack/128/grey_new_seo-37-512.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <span class="title text-center">Article</span>
                            <input type="radio" name="ressource" value="Article">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="product-chooser-item">
                        <img src="https://cdn2.iconfinder.com/data/icons/seo-and-web-glyph-23/64/seo-and-web-glyph-23-06-512.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Desktop">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <span class="title text-center">Annonce</span>
                            <input type="radio" name="ressource" value="Annonce" >
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="product-chooser-item">
                        <img src="https://cdn4.iconfinder.com/data/icons/online-education-8/500/online-education-study_8-2-512.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <span class="title text-center">Tutoriel</span>
                            <input type="radio" name="ressource" value="Tutoriel">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="product-chooser-item">
                        <img src="https://cdn0.iconfinder.com/data/icons/seo-smart-pack/128/grey_new_seo-17-512.png" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <span class="title text-center">Topic</span>
                            <input type="radio" name="ressource" value="Topic">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="product-chooser-item">
                        <img src="https://banner2.kisspng.com/20180403/lke/kisspng-handshake-computer-icons-business-clip-art-shake-hands-5ac379101301a1.3364761415227599520779.jpg" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <span class="title text-center">Ventes PAP</span>
                            <input type="radio" name="ressource" value="VentePAP">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div></br>

            </br>
            <a class="btn btn-primary float-right" >Suivant</a>
            <h1 id="log"></h1>
        </div>
        </form>
    </section>

    <script>
        $(function(){
            $('div.product-chooser').not('.disabled').find('div.product-chooser-item').on('click', function(){
                $(this).parent().parent().find('div.product-chooser-item').removeClass('selected');
                $(this).addClass('selected');
                $(this).find('input[type="radio"]').prop("checked", true);
            });
            $("div[class=product-chooser-item]").on("click", function() {
                let res = $("#log").html($("input:checked").val());
                let url = '{{ path("form_ressources", {'ressource': 'value'}) }}';
                url = url.replace("value", res.get(0).textContent);
                console.log(res.get(0).textContent);
                $("a").attr("href", url);
            });
        });
    </script>
    </html>
{% endblock %}
