{% extends 'base.html.twig' %}

{% block body %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <section>
        <div class="container container-small">
            <div class="mb-5 text-center">
                <h2>Formulaire de la ressources</h2>
            </div>

            <ul class="step d-flex flex-nowrap">
                <li class="step-item">
                    <a href="#!" class="">Choix</a>
                </li>
                <li class="step-item active">
                    <a href="#!" class="">Formulaire</a>
                </li>
                <li class="step-item ">
                    <a href="#!" class="">Validation</a>
                </li>
            </ul>
        </div></br></br></br>
        <div class="album py-5">
            <div class="container container-form">
                <div class="row">
                    <div class="col-md-12"></br>
                        <h1><b>Création de la ressource</b></h1>
                        {{ form_start(ress_form) }}
                        {{ form_widget(ress_form) }}

                    </div>
                </div>
            </div>
        </div>
        <div class="container container-small"></br></br>
            <a class="btn btn-secondary float-left" href="{{ path('create_ressources') }}">Retour</a>
            <input class="btn btn-primary float-right" type="submit" value="Créer" />
        </div>
        {{ form_end(ress_form) }}
    </section>
{% endblock %}
