{% extends 'base.html.twig' %}

{% block body %}

    <section class="dashboard-section">
        <body>
        <div class="container-fluid">
            <div class="row">
                {%  include 'ressources/sidebar-dashboard.html.twig'  %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Annonces</h2>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <a class="btn btn-sm btn-outline-success" href="{{ path('form_ressources', {'ressource': 'Annonce'}) }}">Ajouter</a>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Prix</th>
                            <th>Code Postal</th>
                            <th>Nombre de personne</th>
                            <th>Ouverture</th>
                            <th>Fermeture</th>
                            <th>Créer le</th>
                            <th>Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for annonce in annonces %}
                            <tr>
                                <td>{{ annonce.id }}</td>
                                <td>{{ annonce.titre }}</td>
                                <td>{{ annonce.prix }} €</td>
                                <td>{{ annonce.codePostal }}</td>
                                <td>{{ annonce.nbPersonne }}</td>
                                <td>{% if annonce.dateOuverture %}{{ annonce.dateOuverture|date('d-m-Y') }}{% endif %}</td>
                                <td>{% if annonce.dateFermeture %}{{ annonce.dateFermeture|date('d-m-Y') }}{% endif %}</td>
                                <td>{% if annonce.dateCreate %}{{ annonce.dateCreate|date('d-m-Y') }}{% endif %}</td>
                                <td>{{ annonce.state }}</td>
                                <td class="text-right">
                                    <a class="btn btn-info" href="{{ path('annonce_show', { 'id': annonce.id }) }}">show</a>
                                    <a class="btn btn-success" href="{{ path('annonce_edit', { 'id': annonce.id }) }}">edit</a>
                                    {% if is_granted("ROLE_ADMIN")%}
                                        <a class="btn btn-danger" href="{{ path('annonce_delete', { 'id': annonce.id }) }}">delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </main>
            </div>
        </div>
        </body>
    </section>
{% endblock %}