{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <ul class="nav list-ress">
            <li class="nav-item" ><a class="nav-link"  data-toggle="pill" href="#articles">Article</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#annonces">Annonces</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#topics">Topics</a></li>
            <li class="nav-item" ><a class="nav-link" data-toggle="pill" href="#tutoriels">Tutoriels</a></li>
            <li class="nav-item" ><a class="nav-link" data-toggle="pill" href="#ventespap">Ventes PAP</a></li>
        </ul>

        <div class="tab-content">
            <div id="articles">
                <h3>Menu 1bbbb</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="annonces" class="tab-pane fade">
                <h3>Menu 1bbbb</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="topics" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="tutoriels" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div id="ventespap" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>


{% endblock %}
