{% extends 'base.html.twig' %}

{% block body %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <section>
        <div class="container container-small">
            <div class="mb-5 text-center">
                <h2>Validation de la ressources</h2>
            </div>

            <ul class="step d-flex flex-nowrap">
                <li class="step-item">
                    <a href="#!" class="">Choix</a>
                </li>
                <li class="step-item">
                    <a href="#!" class="">Formulaire</a>
                </li>
                <li class="step-item active">
                    <a href="#!" class="">Validation</a>
                </li>
            </ul>
        </div></br></br></br>
        <div class="container container-small">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Réussi!</h4>
                    <p>Votre ressource à bien été créer.</p>
                    <hr>
                    <p class="mb-0">Elle sera vu par les autres utilisateur après validation de l'administrateur.</p>
                </div>
        </div>
          <div class="container container-small"></br></br>
            <a class="btn btn-secondary float-left" href="{{ path('create_ressources') }}">Retour</a>
            <a class="btn btn-primary float-right" href="{{ path('home') }}">Terminé</a>
        </div>
    </section>
{% endblock %}
