{% extends "base.html.twig" %}

{% block body %}
<header class="bg-primary text-white">
    <div class="dashboard-section container text-center">
        <h1>Welcome to Scrolling Nav</h1>
        <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="container-fluid">
                    <h2 class="text-center">Article</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 mt-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="https://picsum.photos/1900/1080?image=327" alt="Card image cap">
                                <div class="card-body" id="card">
                                    <h5 class="card-title">Title</h5>
                                </div>
                                <div class="card-footer text-muted">
                                    <div class="row">
                                        <div class="col">
                                            <a href=""><i class="fas fa-map"></i></a>
                                        </div>
                                        <div class="col">
                                            <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
                                        </div>
                                        <div class="col">
                                            <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="https://picsum.photos/1900/1080?image=327" alt="Card image cap">
                                <div class="card-body" id="card">
                                    <h5 class="card-title">Title</h5>
                                </div>
                                <div class="card-footer text-muted">
                                    <div class="row">
                                        <div class="col">
                                            <a href=""><i class="fas fa-map"></i></a>
                                        </div>
                                        <div class="col">
                                            <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
                                        </div>
                                        <div class="col">
                                            <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5">
                            <div class="card text-center">
                                <img class="card-img-top" src="https://picsum.photos/1900/1080?image=327" alt="Card image cap">
                                <div class="card-body" id="card">
                                    <h5 class="card-title">Title</h5>
                                </div>
                                <div class="card-footer text-muted">
                                    <div class="row">
                                        <div class="col">
                                            <a href=""><i class="fas fa-map"></i></a>
                                        </div>
                                        <div class="col">
                                            <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
                                        </div>
                                        <div class="col">
                                            <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" style=" background-color: #efefef">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">About</h2>
                <hr>
                        <small>It's Nice to Meet You!</small>
                    </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
                <!-- Team Members Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <center><h2 class="my-4">Our Team</h2></center>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                        <h3>John Smith
                            <small>Job Title</small>
                        </h3>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                        <h3>John Smith
                            <small>Job Title</small>
                        </h3>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-4">
                        <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
                        <h3>John Smith
                            <small>Job Title</small>
                        </h3>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="contact-section">
                    <div class="container container-small">
                        <h2 class="text-center">Contact Address</h2>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d167998.10803373056!2d2.2069770643680573!3d48.85877410312378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis!5e0!3m2!1sfr!2sfr!4v1529674966189" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>

                            <div class="col-sm-4" id="contact2">
                                <h3>Coordonées</h3>
                                <hr align="left" width="50%">
                                <h4 class="pt-2">Adresse</h4>
                                174 boulevard des ours<br>
                                Paris, 75012, FRANCE<br>
                                <h4 class="pt-2">Téléphone</h4>
                                <i class="fas fa-phone" style="color:#000"></i> <a href="tel:+"> 0612365478 </a><br>
                                <i class="fab fa-whatsapp" style="color:#000"></i> <a href="tel:+"> 0102030405 </a><br>
                                <h4 class="pt-2">Email</h4>
                                <i class="fa fa-envelope" style="color:#000"></i> <a href="">admin@gmail.com</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
