<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Symfony Project</title>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}"><img src="{{ asset('logo-white.png') }}" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('list-ressources') }}">Ressources</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('user_edit', { id: app.user.id }) }}">Profil</a>
                </li>
                {% if  is_granted("ROLE_USER")%}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('create_ressources') }}">Créer une Ressource</a>
                    </li>
                {% elseif is_granted("ROLE_MODO") or is_granted("ROLE_ADMIN")%}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('user_list') }}">Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">Paramètres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('user_logout') }}">Logout</a>
                </li>
                {% elseif not app.user %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('user_registration') }}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('user_login') }}">Login</a>
                </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
</body>
{% block body %} {% endblock %}
<footer>
    <p>© 2018 <a href="{{ path('home') }}"> SymfonyProject By Mehdi Fahim</a>, All rights reserved 2018.</p>
</footer>
<!-- Bootstrap core CSS -->
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('css/base.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ asset('css/scrolling-nav.css') }}" rel="stylesheet">
<!-- Bootstrap core JavaScript -->
<script src="{{ asset('vendor/js/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('js/scrolling-nav.js') }}"></script>
<script src="{{ asset('vendor/js/jquery-slim.min.js') }}"></script>
<script src="{{ asset('vendor/js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('vendor/js/holder.min.js') }}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


