{% extends 'base.html.twig' %}
{% block body %}

<div class="container dashboard-section">
    <div class="card text-center">
        <h1><b>Annonce n°{{ annonce.id }}</b></h1>
        <div class="card-body">
            <h5 class="card-title">{{ annonce.titre }}</h5>
            <img src="{{ asset('uploads/images/' ~ annonce.image) }}">
            <p class="card-text">{{ annonce.description }}</p>
            <p class="card-text">{{ annonce.prix }} €</p>
            <p class="card-text">{{ annonce.adresse }}</p>
            <p class="card-text">{{ annonce.ville }}</p>
            <p class="card-text">{{ annonce.codePostal }}</p>
            <p class="card-text">{{ annonce.pays }}</p>
            <p class="card-text">{{ annonce.nbToilette }}</p>
            <p class="card-text">{{ annonce.nbSalleDeBain }}</p>
            <p class="card-text">{{ annonce.nbChambre }}</p>
            <p class="card-text">{{ annonce.nbPersonne }}</p>
            <p class="card-text">{{ annonce.surface }}</p>
            <p class="card-text">{{ annonce.dateOuverture|date('d-m-Y') }}</p>
            <p class="card-text">{{ annonce.dateFermeture|date('d-m-Y') }}</p>
            <p class="card-text">{{ annonce.state }}</p>
            <a href="{{ path('annonce_edit', { 'id': annonce.id }) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('gestion_annonce') }}" class="btn btn-secondary" >Retour à la liste</a>
            {% if is_granted("ROLE_ADMIN")%}
            <a href="{{ path('annonce_delete', { 'id': annonce.id }) }}" class="btn btn-danger" >Supprimer</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            Créer le {% if annonce.dateCreate %}{{ annonce.dateCreate|date('d-m-Y') }}{% endif %}
        </div>
    </div>
</div>
{% endblock %}
